/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

   html,
   button,
   input,
   select,
   textarea {
   	color: #222;
   }

   body {
   	font-size: 1em;
   	line-height: 1.4;
   }

   ::-moz-selection {
   	background: #b3d4fc;
   	text-shadow: none;
   }

   ::selection {
   	background: #b3d4fc;
   	text-shadow: none;
   }

   hr {
   	display: block;
   	height: 1px;
   	border: 0;
   	border-top: 1px solid #ccc;
   	margin: 1em 0;
   	padding: 0;
   }

   img {
   	vertical-align: middle;
   }

   fieldset {
   	border: 0;
   	margin: 0;
   	padding: 0;
   }

   textarea {
   	resize: vertical;
   }

   .chromeframe {
   	margin: 0.2em 0;
   	background: #ccc;
   	color: #000;
   	padding: 0.2em 0;
   }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body {
   	background: #524945;
   	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   	font-size: 14px;
   	font-weight: 300;
   	height: 50px;
   	line-height: 20px;

   	text-decoration: none solid rgb(119, 119, 119);
   	text-shadow: rgba(255, 255, 255, 0.247059) 0px 1px 0px;
   }

   .container {

   	color: #524945;

   	position: absolute;
   	top: 0;
   	bottom: 0;
   	width: 100%;*/
   }

   a:link {
      color: #5B3F6B;
   	text-decoration: none;
   }

   a:hover {
   	text-decoration: underline;
   }

   a:visited {
      color: #183030;
   }

   header {
   	position: relative;
   	padding: 20px 0 0;

   	text-align: center;
   }

   article {
   	background: #E8E3DC;
      /*box-shadow: inset 0 10px 15px rgba(82, 73, 69, 0.08);*/

      border-style: solid;
      border-width: 0px 7px;
      -moz-border-image: url(../img/border-triangle-4.png) 33 10 0 repeat;
      -webkit-border-image: url(../img/border-triangle-4.png) 33 10 0 repeat;
      -o-border-image: url(../img/border-triangle-4.png) 33 10 0 repeat;
      border-image: url(../img/border-triangle-4.png) 33 10 0 repeat;

      text-align: center;
      width: 290px;
      height: 100%;
      margin: 0 auto;
   }

   article hr {
   	width: 159px;
   	margin: 7px auto 14px;

   	border-style: solid;
   	border-width: 0;
   	-moz-border-image: url(../img/border-triangle.png) 17 repeat;
   	-webkit-border-image: url(../img/border-triangle.png) 17 repeat;
   	-o-border-image: url(../img/border-triangle.png) 17 repeat;
   	border-image: url(../img/border-triangle.png) 17 fill repeat;
   }

   article section:last-child {
      margin-bottom: 80px;
   }

   section.vcard {
   	margin-top: 0px;
   }

   address.vcard {
   	font-size: 18px;
   	padding: 0px 8px 0px;
   	/*background-color: #E8E6E2;*/
   	border: 1px solid #E3E3E3;
   	border-radius: 4px;
   }

   address.vcard ul {
   	margin: 15px 0 0;
   	padding: 0;
   }

   address.vcard ul li {
   	list-style-position: outside;
   	list-style-type: none;

   	margin-top: 3px;
   	font-size: 14px;
   	font-style: initial;

   }

   address.vcard .email {
   	display: block;
   	font-size: 14px;
   }

   address.vcard .n {
   	padding-top: 9px;
   	display: block;
   }

   address section {
   	padding-top: 20px;
   }

   section h1 {
   	margin: 0 0 0.27em 0;
   }
   section.contact h1 {
   	font-size: 1.6em;
   }

   section.activities h1 {
   	font-size: 1.1em;
   }




/* ==========================================================================
   Media Queries
   ========================================================================== */

   @media only screen and (min-width: 35em) {

   }

   @media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {

   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

   .ir {
   	background-color: transparent;
   	border: 0;
   	overflow: hidden;
   	*text-indent: -9999px;
   }

   .ir:before {
   	content: "";
   	display: block;
   	width: 0;
   	height: 150%;
   }

   .hidden {
   	display: none !important;
   	visibility: hidden;
   }

   .visuallyhidden {
   	border: 0;
   	clip: rect(0 0 0 0);
   	height: 1px;
   	margin: -1px;
   	overflow: hidden;
   	padding: 0;
   	position: absolute;
   	width: 1px;
   }

   .visuallyhidden.focusable:active,
   .visuallyhidden.focusable:focus {
   	clip: auto;
   	height: auto;
   	margin: 0;
   	overflow: visible;
   	position: static;
   	width: auto;
   }

   .invisible {
   	visibility: hidden;
   }

   .clearfix:before,
   .clearfix:after {
   	content: " ";
   	display: table;
   }

   .clearfix:after {
   	clear: both;
   }

   .clearfix {
   	*zoom: 1;
   }

/* ==========================================================================
   Print styles
   ========================================================================== */

   @media print {
   	* {
   		background: transparent !important;
   		color: #000 !important; /* Black prints faster: h5bp.com/s */
   		box-shadow: none !important;
   		text-shadow: none !important;
   	}

   	a,
   	a:visited {
   		text-decoration: underline;
   	}

   	a[href]:after {
   		content: " (" attr(href) ")";
   	}

   	abbr[title]:after {
   		content: " (" attr(title) ")";
   	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	 .ir a:after,
	 a[href^="javascript:"]:after,
	 a[href^="#"]:after {
	 	content: "";
	 }

	 pre,
	 blockquote {
	 	border: 1px solid #999;
	 	page-break-inside: avoid;
	 }

	 thead {
	 	display: table-header-group; /* h5bp.com/t */
	 }

	 tr,
	 img {
	 	page-break-inside: avoid;
	 }

	 img {
	 	max-width: 100% !important;
	 }

	 @page {
	 	margin: 0.5cm;
	 }

	 p,
	 h2,
	 h3 {
	 	orphans: 3;
	 	widows: 3;
	 }

	 h2,
	 h3 {
	 	page-break-after: avoid;
	 }
	}
