<!-- <script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="application/javascript" >window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

<script type="application/javascript" src="assets/js/plugins.js?v=0.1.1"></script>
<script type="application/javascript" src="assets/js/main.js?v=0.1.1"></script> -->
<script type="application/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-43084135-1']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

  ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!--[if !(lte IE 8)]><!-->
<script type="application/javascript" >
(function(){
  var e = document.createElement('script'); e.type='text/javascript'; e.async = true;
  e.src = document.location.protocol + '//d1ux67szpr7bp0.cloudfront.net/project-megaphone/widget.min.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);
})();
</script>
<!--<![endif]-->
