<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Tiki Dream</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/css/normalize.min.css">
	<link rel="stylesheet" href="/css/main.css?v1.1.1">
	<link rel="profile" href="http://microformats.org/profile/hcard">
	<link rel="shortcut icon" href="/img/favicon.ico?v1" type="image/x-icon">
	<link rel="icon" href="/img/favicon.ico?v1" type="image/x-icon">
</head>
